 // Triad
$first-color: #102EB2; // dark blue
$second-color: #FF7449; // red-orange
// $second-color: #FFC9B2;
$third-color: #3057FF; // light blue
$fourth-color: #6CCC12; // light green
$fifth-color: #63B218; // grey green