%br
.row
	.medium-6.large-6.columns.right.text-center
		%h1 
			%strong 
				= @board_game.name
	.medium-6.large-6.columns.left
		%img.image-center{ src: @board_game.image_url }
		%br
	.medium-6.large-6.columns.right.text-center
		%a.button.large.columns{href: edit_board_game_path(@board_game.id) } Edit
		%a.button.large.columns.disabled Delete