- if signed_in?
	%head
		.contain-to-grid.fixed
			%nav.top-bar{ data: { "topbar" => true } }
				%ul.title-area
					%li.name
						%h1
							%a{ href: board_games_path } Board Games
					%li.toggle-topbar.menu-icon
						%a{ href: "#" }
							%span Menu
				%section.top-bar-section
					%ul.left
						%li.has-dropdown
							%a{ href: board_games_path } Board Games
							%ul.dropdown
								%li.show-for-small-only
									%a{href: board_games_path } All
								%li
									%a{href: new_board_game_path } New
						%li.has-dropdown
							%a{ href: game_plays_path } Game Plays
							%ul.dropdown
								%li.show-for-small-only
									%a{ href: game_plays_path } All
								%li
									%a{ href: new_game_play_path } New
						%li
							%a{ href: "#" } Players
					%ul.right
						%li.has-dropdown
							%a{ href: "#" }= current_user.name
							%ul.dropdown
								%li
									%a{href: signout_path } Sign out